* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 70 px;
    display: flex;
    background-color: #FFFFFF;
   
}

.nav-elements ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}